[General]
FullMachineName= {{ ansible_nodename }}
SuiteSpotUserID= ldap
SuiteSpotGroup= ldap
AdminDomain= example.com
ConfigDirectoryAdminID= admin
ConfigDirectoryAdminPwd= {{ admin_password }}
ConfigDirectoryLdapURL= ldap://{{ ansible_nodename }}:389/o=NetscapeRoot
[slapd]
SlapdConfigForMC= Yes
UseExistingMC= 0
ServerPort= 389
ServerIdentifier= dir
Suffix= dc=example,dc=com
RootDN= cn=root
RootDNPwd= {{ ldap_password }}
ds_bename=exampleDB
AddSampleEntries= No
[admin]
Port= 9830
ServerIpAddress= 0.0.0.0
ServerAdminID= admin
ServerAdminPwd= {{ admin_password }}

